/* add style rules here to customize or adjust the MDL styles */

/* background */
.demo-layout-transparent {
    background: url('../img/background.jpg') center / cover;
    }
    .demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
    }

/*DRAWER*/
.mdl-layout__drawer {
    background-color: white;
}


/*slogan section*/
.headline-section .slogan{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 10vw;
    padding-top: 1em;
    padding-bottom:0.5em;
}

.headline-section .sub-slogan{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vmax;
    padding-bottom: 50px;
}
.learnmore_button{
    margin:10px;
    margin-bottom:20px;
}

/*cards*/
.mdl-grid .mdl-card {
    width: 100%;
    height: 100%;
    }

.mdl-card h3 {
    font-weight: bold;
    font-size: 150%;
}

img {
    width:100%;
    }

/*footer*/
.mdl-mini-footer {
    color: white;
    background-color: #546E7A;
}
.mdl-mini-footer__left-section {
    font-size: 12px;
}

